<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Hovers and focus using the has() relational pseudo-class</title>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Bebas+Neue&amp;family=Figtree:wght@300;600&amp;display=swap'>
  <link rel="stylesheet" href="./card_80.css">
</head>
<body>
<!-- partial:index.partial.html -->
<section class="articles">
  <% for(let i=0; i<data.length; i++) { %>
  <article>
    <div class="article-wrapper">
      <figure>
        <img src="<%= data[i].img %>" alt="" />
      </figure>
      <div class="article-body">
        <h2><%= data[i].title %></h2>
        <p>
          <%= data[i].descr %>
        </p>
        <a href="#" class="read-more">
          Read more <span class="sr-only">about this is some title</span>
          <svg xmlns="http://www.w3.org/2000/svg" class="icon" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
          </svg>
        </a>
      </div>
    </div>
  </article>
  <article>
<!-- partial -->
</body>
</html>
